*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.word-choice-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  /* display: none; */
}

.word-choice-wrapper div{
  width: 50%;
  margin: auto;
  position: relative;
  background-color: white;
  text-align: center;
  padding: 50px 0;
}

.word-choice-wrapper div h2{
  font-size: 40px;
  margin-bottom: 20px;
}

.word-choice-wrapper div span{
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  margin: auto 10px;
  cursor: pointer;
  border: 1px solid #f25f25;
  background-color: white;
  color: #f25f25;
  transition: 0.2s ease-in-out all;
}

.word-choice-wrapper div span:hover{
  color: white;
  background-color: #f25f25;
}

.background-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/Plein.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  filter: saturate(0.7) blur(3px);
}

.canvas-background{
  position: absolute;
  background-image: url(img/CanvasBG.png);
  background-size: auto 1115px;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.canvas-wrapper{
  position: relative;
  /* width: 900px;
  height: 900px; */
  margin: auto;
  text-align: center;
}


canvas{
  border: 1px solid #f4f4f4;
  /* width: 350px;
  height: 450px; */
  margin-top: 160px;
}

.buttons-wrapper{
  position: absolute;
  width: 100%;
}

.swatch-wrapper{
  width: 350px;
  margin: auto;
  background-color: white;
  padding: 5px 0;
  margin-top: 20px;
  box-shadow: 0px 1px 5px 1px #00000026;
}

.color-choice{
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

#red{
  background-color: #D64626;
  border: 1px solid black;
}

#orange{
  background-color: #f25f25;
  border: 1px solid black;
}

#yellow{
  background-color: #fff22f;
  border: 1px solid black;
}

#green{
  background-color: #0A6757;
  border: 1px solid black;
}

#blue{
  background-color: #4D83C3;
  border: 1px solid black;
}

#indigo{
  background-color: #32449A;
  border: 1px solid black;
}

#pink{
  background-color: #FF69B4;
  border: 1px solid black;
}

#violet{
  background-color: #CD853F;
  border: 1px solid black;
}

#brown{
  background-color: #8B4513;
  border: 1px solid black;
}

#grey{
  background-color: #808080;
  border: 1px solid black;
}

#black{
  background-color: black;
  border: 1px solid black;
}

#white{
  background-color: white;
  border: 1px solid black;
}

.active-border{
  box-shadow: 0px 0px 0px 5px #00dcff;
  border-color: white !important;
}

.brush-wrapper{
  width: 200px;
  margin: auto;
  background-color: #ececec;
  padding: 15px 0;
  box-shadow: 0px 7px 5px 1px #00000026;
  border-top: 1px solid darkgrey;
}

.brush-choice{
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  cursor: pointer;
}

.brush-choice#medium{
  height: 15px;
  width: 15px;
}

.brush-choice#large{
  height: 20px;
  width: 20px;
}

.brush-choice#xl{
  height: 30px;
  width: 30px;
}

#previous-image{
  display: none;
  position: absolute;
  height: 254px;
  width: 200px;
  background-color: white;
  /* transform: skew(0deg, 15deg); */
  transform: skew(-4deg, 7deg);
  margin-left: 120px;
  bottom: 15px;
  margin-bottom: 250px;
  box-shadow: 1px -1px 0px #e4e4e4, 2px -2px 0px #e4e4e4, 3px -3px 0px #e4e4e4, 4px -4px 0px #e4e4e4, 5px -5px 0px #e4e4e4, 6px -6px 0px #e4e4e4;
}

.img-label{
  display: none;
  position: absolute;
  min-height: 24px;
  width: 200px;
  transform: skew(-4deg, 7deg);
  margin-left: 110px;
  bottom: 235px;
  box-shadow: 1px -1px 0px #fed230, 2px -2px 0px #fed230, 3px -3px 0px #fed230;
  background-color: white;
  font-family: 'Parisienne', cursive;
  text-transform: capitalize;
}

#selected-word-wrapper{
  position: absolute;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  box-shadow: 0px 1px 5px 1px #00000026;
  top: -100;
  transition: 0.4s ease-in-out all;
}

#selected-word-wrapper span{
  display: block;
  font-weight: 800;
  font-size: 25px;
}

.next-button{
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: auto;
  font-size: 20px;
  border: 1px solid #f25f25;
  padding: 5px 20px;
  color: #f25f25;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s ease-in-out all;
}

.next-button:hover{
  background: #f25f25;
  color: white;
  cursor: pointer;
}

.timer{
  position: fixed;
  top: 20px;
  left: 20px;
  width: 65px;
  font-size: 24px;
  font-weight: bolder;
  background-color: #ffffff8f;
  border-radius: 50%;
  height: 65px;
  text-align: center;
  line-height: 65px;
  border: 5px solid white;
  color: #ff4900;
}